<!DOCTYPE html>
<html lang="en">

<% include ../admin_header.ejs %>

<body>
  <% if(msg=='Please enter your correct old password') { %>
  <div class="alert alert-danger"  id="msg" style="position: absolute; z-index: 9999; right: 10px; top: 10px;"><span
      style="font-size: 16px;"><%= msg %></span></div> <%
        }else if(msg != '') {%>
          <div class="alert alert-success" id="msg" style="position: absolute; z-index: 9999; right: 10px; top: 10px;"><span
            style="font-size: 16px;"><%= msg %></span></div>
          <%}%>

  <% include ../admin_navbar.ejs %>

  <div class="page-container">
    <div class="page-content">

      <% include ../sidebar.ejs %>

      <div class="content-wrapper">
        <div class="page-header page-header-default">
          <div class="page-header-content">
            <div class="page-title">
              <h4> <span class="text-semibold"></span>Admin Change Password</h4>
            </div>

            <div class="heading-elements">

            </div>
          </div>

          <div class="breadcrumb-line">
            <ul class="breadcrumb">
              <li><a href="/admin/dashboard"><i class="icon-home2 position-left"></i> Home</a></li>
              <li class="active">Change Password</li>
            </ul>

            <ul class="breadcrumb-elements">

            </ul>
          </div>
        </div>

        <div class="content edt">
          <form action='/admin/update_password' enctype="multipart/form-data" method="POST" role="form" id="change_password_form">
            <div class="panel panel-flat">
              <div class="panel-body">
                <div class="form-group">
                  <label class="col-lg-3 control-label">Old Password:</label>
                  <div class="col-lg-9 input-group">
                    <span class="input-group-addon"><i class="fas fa-key"></i></span>
                    <input type="password" id ="old_password" name="old_password" class="form-control" title="Please enter old password" placeholder="Enter old password"
                      value="<%= typeof(old_password) === 'undefined' || old_password != '' ?'':old_password%>"
                      required>
                      <label id="old_passworddaat" style="display: none;" for="old_passwor"></label>
                     
                    <span class="input-group-addon open"><i class="fas fa-eye"></i></span>
                    <span class="input-group-addon c" style="display: none;"><i class="fas fa-eye-slash"></i></span>
                  </div>
                  
                  <!--div class="col-lg-3"></div>
                  <div class="col-lg-9"><label id="old_password-error" class="error" for="old_password"></label></div-->
                </div>

                <div class="form-group">
                  <label class="col-lg-3 control-label">New Password:</label>
                  <div class="col-lg-9 input-group">
                    <span class="input-group-addon"><i class="fas fa-key"></i></span>
                    <input type="password" minlength="6"  name="new_password" title="Please enter new password" class="form-control" placeholder="Enter new password"
                      id="new_password"
                      value="<%= typeof(new_password) === 'undefined' || new_password != '' ?'':new_password%>"
                      required >
                    <span class="input-group-addon open"><i class="fas fa-eye"></i></span>
                    <span class="input-group-addon c" style="display: none;"><i class="fas fa-eye-slash"></i></span>
                  </div>
                  <!--div class="col-lg-3"></div>
                  <div class="col-lg-9"><label id="new_password-error" class="error" for="new_password"></label></div-->
                </div>

                <div class="form-group">
                  <label class="col-lg-3 control-label">Confirm Password:</label>
                  <div class="col-lg-9 input-group">
                    <span class="input-group-addon"><i class="fas fa-key"></i></span>
                    <input type="password" minlength="6" title="Please enter confirm password" name="confirm_password" class="form-control" placeholder="Re-enter password"
                      value="<%= typeof(confirm_password) === 'undefined' || confirm_password != '' ?'':confirm_password%>"
                      required>
                    <span class="input-group-addon open"><i class="fas fa-eye"></i></span>
                    <span class="input-group-addon c" style="display: none;"><i class="fas fa-eye-slash"></i></span>
                  </div>
                  <!--div class="col-lg-3"></div>
                  <div class="col-lg-9"><label id="confirm_password-error" class="error" for="confirm_password"></label>
                  </div-->
                </div>

                <input type="hidden" name="id" value="<%= session.admin_id %>">

                <div class="text-right">
                  <button type="submit" id="submitbtn" class="btn btn-primary">Submit <i
                      class="icon-arrow-right14 position-right"></i></button>
                </div>
              </div>

            </div>
          </form>

          <% include ../admin_footer.ejs %>

        </div>

      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
  <!-- <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script> -->

  <script>
    $(document).ready(function () {
      $("#change_password_form").validate({
        rules: {
          old_password: {
            required: true,
            //minlength: 6
          },
          new_password: {
            required: true,
            minlength: 6
          },
          confirm_password: {
            required: true,
            equalTo: "#new_password",
            minlength: 6
          },
        },
        messages: {
          old_password: {
            required: "Old password field is required",
           // minlength: "Password minimum length should be 6"
          },
          new_password: {
            required: "New password field is required",
            minlength: "Password minimum length should be 6"
          },
          confirm_password: {
            required: "Confirm password field is required",
            equalTo: "New password and confirm password do not match",
            minlength: "Password minimum length should be 6"
          },
        }
      });
    })
  </script>

  <script>
    $(document).ready(function () {
      $(".open").click(function () {
        // console.log($(this).parent().children());
        $(this).parent().children().attr("type", "text");
        $(this).parent().children(".open").css("display", "none");
        $(this).parent().children(".c").css("display", "");
      });
      $("#old_password").keyup(function(){
  //  $("new_password").css("background-color", "yellow");
     var get_value= document.getElementById("old_password").value
   //  alert(get_value)
   $.ajax({
                type: "POST",
                url: "/check_passwordvalidation",
                data: {
                    "password": get_value,
                    //"table": table
                },
                success: function (data) {
                    
                   console.log(data,"datatat")
                   if(data==1){
                    document.getElementById("submitbtn").disabled = false;
                    document.getElementById("old_passworddaat").style.color = 'green';
                    document.getElementById("old_passworddaat").innerHTML = 'Password Matched';
                    
                   }else if(data==0){
                    document.getElementById("old_passworddaat").style.display = 'block';
                    document.getElementById("old_passworddaat").style.color = 'red';
                    document.getElementById("old_passworddaat").innerHTML = 'Old Password Does Not Matched';
                    document.getElementById("submitbtn").disabled = true;
                   }else{
                    // alert("i nnnnnnnnnn")
                    document.getElementById("submitbtn").disabled = false;
                    document.getElementById("old_passworddaat").style.display = 'none';
                   }

                }, error(error) {
                    console.error(error);
                }
            });
  });
    });
    
  </script>

  <script>
    $(document).ready(function () {
      $(".c").click(function () {
        // console.log($(this).parent().children());
        $(this).parent().children().attr("type", "password");
        $(this).parent().children(".open").css("display", "");
        $(this).parent().children(".c").css("display", "none");
      });
    });
    setTimeout(function(){
        $("#msg"). fadeOut();
        },3000);
   
    
  </script>

  <style>
    .control-label {
      font-weight: 600;
    }

    .input-group-addon {
      cursor: pointer;
      background: #dddddd;
    }

    .error {
      color: red;
      font-weight: 600;
    }
    #old_passworddaat {
    color: red;
    padding-bottom: 10px;
    font-size: 12px;
    position: absolute;
    font-weight: 600;
    left: 0;
    bottom: -37px;
}
  </style>

</body>

</html>