<!DOCTYPE html>
<html lang="en">

    <% include ../admin_header.ejs %>

    <body>

        <% include ../admin_navbar.ejs %>

        <div class="page-container">
            <div class="page-content">
    
                <% include ../sidebar.ejs %>
    
                <div class="content-wrapper">
                    <div class="page-header page-header-default">
                        <div class="page-header-content">
                            <div class="page-title">
                                <a href="/admin/users"><i class="fas fa-arrow-left"></i></a>
                                <h4> <span class="text-semibold"></span>Sub Admin detail</h4>
                            </div>
    
                            <div class="heading-elements">
                                <div class="heading-btn-group">
                                    
                                </div>
                            </div>
                        </div>
    
                        <div class="breadcrumb-line">
                            <ul class="breadcrumb">
                                <li><a href="/admin/dashboard"><i class="icon-home2 position-left"></i> Home</a></li>
                                <li class="active">Users</li>
                                <li class="active">View</li>
                            </ul>
    
                            <ul class="breadcrumb-elements">
                                
                            </ul>
                        </div>
                    </div>
                    
                    <div class="content">
                        <div class="panel panel-flat">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="b">Image</td>
                                            <td><img src="<%= response.image == '' || response.image == null || response.image == '/images/users/' ? '/white_user.jpg' : response.image%>" width="100" height="100" class="img-circle"></td>
                                        </tr>
                                        <tr>
                                            <td class="b">Name</td>
                                            <td><%= response.name %></span></td>
                                        </tr>
                                        <tr>
                                            <td class="b">Email</td>
                                            <td><%= response.email %></span></td>
                                        </tr>
                                        <tr>
                                            <td class="b">Selected magazines brand</td>
                                            <td><%=comma_magazine %></span></td>
                                        </tr>
                                        <%
                                        let s_id= response.module_id.split(",");
                                       
                                      %>
                                        <tr>
                                            <td class="b">Selected Modules</td>
                                            <td>
                                            <% if(s_id.indexOf('1')!= -1){%>
                                               Users,
                                                <%}%>
                                                <% if(s_id.indexOf('2')!= -1){%>
                                                    User Plans,
                                                  <%}%>
                                                  <% if(s_id.indexOf('3')!= -1){%>
                                                    Magazine Brands,
                                                  <%}%>
                                                  <% if(s_id.indexOf('4')!= -1){%>
                                                    My Publications,
                                                  <%}%>
                                                  <% if(s_id.indexOf('5')!= -1){%>
                                                    Notification to User(s),
                                                  <%}%>
                                                  <% if(s_id.indexOf('6')!= -1){%>
                                                    Magazine Analytics,
                                                  <%}%>
                                                  <% if(s_id.indexOf('7')!= -1){%>
                                                    Pages,
                                                  <%}%>
                                                  <% if(s_id.indexOf('8')!= -1){%>
                                                    Sub Admin
                                                  <%}%>
                                                </td>
                                            <!-- <td><%=comma_magazine %></span></td> -->
                                          
                                        </tr>
                                         
                                    </tbody>
                                </table>
                            </div>
                        </div>
                       
                        <% include ../admin_footer.ejs %>

                    </div>
                    
                </div>
            </div>
        </div>

    </body>

</html>