<!DOCTYPE html>
<html lang="en">

    <% include ../admin_header.ejs %>

    <body>
        <% if(msg != '') { %>
            <div class="alert alert-success msg" style="position: absolute; z-index: 9999; right: 10px; top: 10px;"><span style="font-size: 16px;"><%= msg %></span></div> <%
        } %>

        <% include ../admin_navbar.ejs %>

        <div class="page-container">
            <div class="page-content">
    
                <% include ../sidebar.ejs %>
    
                <div class="content-wrapper">
                    <div class="page-header page-header-default">
                        <div class="page-header-content">
                            <div class="page-title">
                                <h4> <span class="text-semibold">Keywords</h4>
                            </div>
    
                            <div class="heading-elements">
                                <div class="heading-btn-group">
                                    <a href="/admin/add_keyword" class="btn btn-primary">Add</a>
                                </div>
                            </div>
                        </div>
    
                        <div class="breadcrumb-line">
                            <ul class="breadcrumb">
                                <li><a href="/admin/dashboard"><i class="icon-home2 position-left"></i> Home</a></li>
                                <li class="active">General Settings</li>
                                <li class="active">Default Keywords</li>
                            </ul>
    
                            <ul class="breadcrumb-elements">
                                
                            </ul>
                        </div>
                    </div>

                    <div class="content">
                        <div class="panel panel-flat">

                            <table class="table datatable-basic table-bordered" id="myTable">
                                <thead>
                                    <tr>
                                        <th class="b">S.No.</th>
                                        <th class="b">Keyword</th>
                                        <th class="b">Status</th>
                                        <th class="b">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%
                                        for (var i in response) { %>
                                            <tr>
                                                <td><%= parseInt(i)+1 %></td>
                                                <td><%= response[i].keyword %></td>
                                                <td>
                                                    <% 
                                                        if(response[i].status == 1) { %>
                                                            <a class="label label-success change_status" id="<%= response[i].id %>" table="keywords">Active</a> <%
                                                        } else { %>
                                                            <a class="label label-danger change_status" id="<%= response[i].id %>" table="keywords">In-Active</a> <%
                                                        }
                                                    %>
                                                </td>
                                                <td class="text-center">
                                                    <ul class="icons-list">
                                                        <li class="dropdown">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                                <i class="icon-menu9"></i>
                                                            </a>
                        
                                                            <ul class="dropdown-menu dropdown-menu-right">
                                                                <li>
                                                                    <a href="/admin/edit_keyword/<%=response[i].id%>"><i class="fas fa-edit"></i>Edit</a>
                                                                </li>
                                                                <!-- <li>
                                                                    <a href="/admin/view_user/<%=response[i].id%>"><i class="fas fa-eye"></i>View</a>
                                                                </li> -->
                                                                <li>
                                                                    <a class="delete" table="keywords" rel="<%= response[i].id %>"><i class="fas fa-trash-alt"></i>Delete</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr> <%
                                        }
                                    %>
                                </tbody>
                            </table>
                        </div>

                        <% include ../admin_footer.ejs %>

                    </div>
                    
                </div>
            </div>
        </div>

        <style>
            .badge{
                padding: 2px 8px 2px 8px;
                font-size: 14px;
            }
            img{
                object-fit: cover;
            }
            .postCount, .crowdCount, .engageCount {
                font-size: 14px;
                padding: 0px 6px 0px 6px;
            }
            .fa-arrow-circle-right {
                padding-left: 4px;
            }
        </style>

    </body>

</html>