<!DOCTYPE html>
<html lang="en">

    <% include ../admin_header.ejs %>
    
    <script src="https://cdn.ckeditor.com/4.9.2/full-all/ckeditor.js"></script>

    <body>
        <% if(msg != '') { %>
            <div class="alert alert-success msg" style="position: absolute; z-index: 9999; right: 10px; top: 10px;"><span style="font-size: 16px;"><%= msg %></span></div> <%
        } %>

        <% include ../admin_navbar.ejs %>

        <div class="page-container">
            <div class="page-content">
    
                <% include ../sidebar.ejs %>
    
                <div class="content-wrapper">
                    <div class="page-header page-header-default">
                        <div class="page-header-content">
                            <div class="page-title">
                                <h4> <span class="text-semibold"></span>Header photos in website</h4>
                            </div>
    
                            <div class="heading-elements">
                                <!-- <a href="/admin/add_category" class="btn btn-primary">Add</a> -->
                            </div>
                        </div>
    
                        <div class="breadcrumb-line">
                            <ul class="breadcrumb">
                                <li><a href="/admin/dashboard"><i class="icon-home2 position-left"></i> Home</a></li>
                                <li class="active">Pages</li>
                                <li class="active">Header photos in website</li>
                            </ul>
    
                            <ul class="breadcrumb-elements">
                                
                            </ul>
                        </div>
                    </div>

                    <div class="content">
                        <form action = '/admin/update_header_photos'  enctype="multipart/form-data"  method="POST" role="form" id="add_user_form">
                            <div class="panel panel-flat">
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">Photo 1:</label>
                                        <div class="col-lg-4">
                                            <%
                                                if(photo1.content == '')
                                                { %>
                                                    <img src="/default.jpg" id="image" style="width: 100%;"> <%
                                                }
                                                else
                                                { %>
                                                    <img src="/images/users/<%= photo1.content %>" style="width: 100%;" id="image"> <%
                                                }
                                            %>
                                        </div>
                                        <div class="col-lg-7">
                                            <input type="file" name="image1" class="file-styled" id="files" accept="image/*">
                                            <div class="col-lg-9"><label id="files-error" class="error" for="files"></label></div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="panel panel-flat">
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">Photo 2:</label>
                                        <div class="col-lg-4">
                                            <%
                                                if(photo2.content == '')
                                                { %>
                                                    <img src="/default.jpg" id="image2" style="width: 100%;"> <%
                                                }
                                                else
                                                { %>
                                                    <img src="/images/users/<%= photo2.content %>" style="width: 100%;" id="image2"> <%
                                                }
                                            %>
                                        </div>
                                        <div class="col-lg-7">
                                            <input type="file" name="image2" class="file-styled" id="files2" accept="image/*">
                                            <div class="col-lg-9"><label id="files-error" class="error" for="files"></label></div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="panel panel-flat">
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">Photo 3:</label>
                                        <div class="col-lg-4">
                                            <%
                                                if(photo3.content == '')
                                                { %>
                                                    <img src="/default.jpg" id="image3" style="width: 100%;"> <%
                                                }
                                                else
                                                { %>
                                                    <img src="/images/users/<%= photo3.content %>" style="width: 100%;" id="image3"> <%
                                                }
                                            %>
                                        </div>
                                        <div class="col-lg-7">
                                            <input type="file" name="image3" class="file-styled" id="files3" accept="image/*">
                                            <div class="col-lg-9"><label id="files-error" class="error" for="files"></label></div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="panel panel-flat">
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">Photo 4:</label>
                                        <div class="col-lg-4">
                                            <%
                                                if(photo4.content == '')
                                                { %>
                                                    <img src="/default.jpg" id="image4" style="width: 100%;"> <%
                                                }
                                                else
                                                { %>
                                                    <img src="/images/users/<%= photo4.content %>" style="width: 100%;" id="image4"> <%
                                                }
                                            %>
                                        </div>
                                        <div class="col-lg-7">
                                            <input type="file" name="image4" class="file-styled" id="files4" accept="image/*">
                                            <div class="col-lg-9"><label id="files-error" class="error" for="files"></label></div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="panel panel-flat">
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label class="col-lg-1 control-label">Photo 5:</label>
                                        <div class="col-lg-4">
                                            <%
                                                if(photo5.content == '')
                                                { %>
                                                    <img src="/default.jpg" id="image5" style="width: 100%;"> <%
                                                }
                                                else
                                                { %>
                                                    <img src="/images/users/<%= photo5.content %>" style="width: 100%;" id="image5"> <%
                                                }
                                            %>
                                        </div>
                                        <div class="col-lg-7">
                                            <input type="file" name="image5" class="file-styled" id="files5" accept="image/*">
                                            <div class="col-lg-9"><label id="files-error" class="error" for="files"></label></div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                            </div>
                        </form>

                        <% include ../admin_footer.ejs %>

                    </div>
                    
                </div>
            </div>
        </div>

        <style>
            .control-label{
                font-weight: 600;
            }
            .error{
                color: red;
                padding-bottom: 10px;
                font-size: 14px;
            }
        </style>

        <script>
            document.getElementById("files").onchange = function () {
                var reader = new FileReader();

                reader.onload = function (e) {
                    // get loaded data and render thumbnail.
                    document.getElementById("image").src = e.target.result;
                };

                // read the image file as a data URL.
                reader.readAsDataURL(this.files[0]);
            };
        </script>

        <script>
            document.getElementById("files2").onchange = function () {
                var reader = new FileReader();

                reader.onload = function (e) {
                    // get loaded data and render thumbnail.
                    document.getElementById("image2").src = e.target.result;
                };

                // read the image file as a data URL.
                reader.readAsDataURL(this.files[0]);
            };
        </script>

        <script>
            document.getElementById("files3").onchange = function () {
                var reader = new FileReader();

                reader.onload = function (e) {
                    // get loaded data and render thumbnail.
                    document.getElementById("image3").src = e.target.result;
                };

                // read the image file as a data URL.
                reader.readAsDataURL(this.files[0]);
            };
        </script>

        <script>
            document.getElementById("files4").onchange = function () {
                var reader = new FileReader();

                reader.onload = function (e) {
                    // get loaded data and render thumbnail.
                    document.getElementById("image4").src = e.target.result;
                };

                // read the image file as a data URL.
                reader.readAsDataURL(this.files[0]);
            };
        </script>

        <script>
            document.getElementById("files5").onchange = function () {
                var reader = new FileReader();

                reader.onload = function (e) {
                    // get loaded data and render thumbnail.
                    document.getElementById("image5").src = e.target.result;
                };

                // read the image file as a data URL.
                reader.readAsDataURL(this.files[0]);
            };
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

        <script>
            $(document).ready(function() {
                $("#add_user_form").validate({
                    rules: {
                        offline_message: {
                            required: true
                        }
                    },
                    messages: {
                        offline_message: {
                            required: "This field is required"
                        }
                    }
                });
            })
        </script>
        
        <!-- <script>
            CKEDITOR.replace('editor');
        </script> -->

    </body>

</html>