<!DOCTYPE html>
<html lang="en">

<% include ../admin_header.ejs %>

<body>
  <% if(msg != '') { %>
  <div class="alert alert-success msg" style="position: absolute; z-index: 9999; right: 10px; top: 10px;"><span
      style="font-size: 16px;"><%= msg %></span></div> <%
        } %>

  <% include ../admin_navbar.ejs %>

  <div class="page-container">
    <div class="page-content">

      <% include ../sidebar.ejs %>

      <div class="content-wrapper">
        <div class="page-header page-header-default">
          <div class="page-header-content">
            <div class="page-title">
              <a href="magazine_analytics"><i class="fas fa-arrow-left"></i></a> 
              <h4><span class="text-semibold">Peoples Visit</h4>
            </div>

            <div class="heading-elements">
              <div class="heading-btn-group">
                <!-- <a href="/admin/add_magazine" class="btn btn-primary">Add</a> -->
              </div>
            </div>
          </div>

          <div class="breadcrumb-line">
            <ul class="breadcrumb">
              <li><a href="/admin/dashboard"><i class="icon-home2 position-left"></i> Home</a></li>
              <li class="active">Users List</li>
            </ul>

            <ul class="breadcrumb-elements">

            </ul>
          </div>

       
        </div>

        <div class="content">
         
          <div class="panel panel-flat">
            <div class="row">
              <div class="col-lg-3">
            <div class="form-group">
              <label for="usr">From Date:</label>
              <input type="date" class="form-control" id="min" onchange="myFunction()">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label for="pwd">To Date:</label>
              <input type="date" class="form-control" id="max" onchange="myFunction()">
            </div>
          </div>
          </div>
            <table class="table table-bordered" id="myTable">
              <thead>
                <tr>
                  <th class="b">S.No</th>
                  <th class="b">User Name</th>
                  <th class="b">User Email</th>
                  <th class="b">Magazine Edition</th>
                  <th class="b">Page No</th>
                  <th class="b">Time Spent(in hour)</th>
                  <th class="b">First time visit time</th>
                </tr>
              </thead>
              <tbody id="dataval">
                <% for( var i = 0; i < response.length; i++ ){%>
                <tr>
                  <td> <%= i+1%></td>
                  <!-- <td><%= response[i].magazineName%></td> -->
                  <td><%= response[i].userName%></td>
                  <td><%= response[i].userEmail%></td>
                  <td><%= response[i].actualmagazinename%></td>
                  <td><%= response[i].page_no%></td>
                  <td><%= response[i].time_spent%></td>
                 
                  <td><%= response[i].start_time%></td>
                </tr>
                <%}%>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-12">
                            <!-- <h4><b><span id="selected_user_count">0</span> Users selected</b></h4> -->

                            <!-- <button class="btn btn-primary" id="send_advertisement">Send an advertisement</button>
                            <button class="btn btn-success" id="send_notification">Send a mobile notification</button> -->
                            <!-- <button class="btn btn-info" id="send_email" style="margin-left: 500px;">Send an email</button>  -->
                        </div>
                        <br>
                        <br>
                        <br>

                        <% include ../admin_footer.ejs %>

          </div>

        </div>
      </div>
    </div>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
  <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script>
     
      $(document).ready(function () {
        // $('#myTable').DataTable({
        //   'columnDefs': [{
        //     'targets': [1, 3, 4], /* column index */
        //     'orderable': false, /* true or false */
        //   }]
        // })
      })
    </script>

    <script>
    
      function myFunction() {
         // alert('here');
          let minId = document.getElementById("min").value
          let maxId = document.getElementById("max").value

       //  alert(minId)
        $.ajax({
            type: "post",
            url: "/get_filtered__user_name",
            data: { minId, maxId },
            success: function (data) {
              userhtml=''
              console.log(data,"data[0]==============================");
            
            if (data.length > 0) {
                for (var k in data) {
                  userhtml += `<tr>`
                    userhtml += `<td>`+k+1+ `</td>`
                  userhtml += `<td>`+data[k].userName+ `</td>`
                  userhtml += `<td>` + data[k].userEmail + `</td>`
                  userhtml += `<td>` + data[k].actualmagazinename + `</td>`
                  userhtml += `<td>` + data[k].page_no + `</td>`
                  userhtml += `<td>` + data[k].time_spent + `</td>`
                   userhtml += `<td>` + data[k].start_time + `</td>`
                //   userhtml+= `<td><a href="/admin/get_magazines_pages?id=${data[k].magazineId}">${data[k].magazinecount}</a></td>`
                //  userhtml+= `<td class="text-center"><ul class="icons-list"><li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a><ul class="dropdown-menu dropdown-menu-right"><li><a href="/admin/view_magazinepage?id=${data[k].id}"><i class="fas fa-eye"></i>View Page</a></li></ul></li></ul></td>`
                //   userhtml += `</tr>`
                }
              }
              $('#dataval').html(userhtml)
            }
          });
      }
    </script>

    <style>
      .badge {
        padding: 2px 8px 2px 8px;
        font-size: 14px;
      }

      img {
        object-fit: cover;
      }

      .postCount,
      .crowdCount,
      .engageCount {
        font-size: 14px;
        padding: 0px 6px 0px 6px;
      }

      .fa-arrow-circle-right {
        padding-left: 4px;
      }

      .dataTable thead .sorting_asc:after {
        content: none;
      }
    </style>

</body>

</html>