<!DOCTYPE html>
<html lang="en">

    <% include ../admin_header.ejs %>

    <body>
        <% if(msg != '') { %>
            <div class="alert alert-success msg" style="position: absolute; z-index: 9999; right: 10px; top: 10px;"><span style="font-size: 16px;"><%= msg %></span></div> <%
        } %>

        <% include ../admin_navbar.ejs %>

        <div class="page-container">
            <div class="page-content">
    
                <% include ../sidebar.ejs %>
    
                <div class="content-wrapper">
                    <div class="page-header page-header-default">
                        <div class="page-header-content">
                            <div class="page-title">
                                <h4> <span class="text-semibold">Users blocked by - <%= userData.firstName.toUpperCase(); %> <%= userData.lastName.toUpperCase(); %></h4>
                            </div>
    
                            <div class="heading-elements">
                                <div class="heading-btn-group">
                                    
                                </div>
                            </div>
                        </div>
    
                        <div class="breadcrumb-line">
                            <ul class="breadcrumb">
                                <li><a href="/admin/dashboard"><i class="icon-home2 position-left"></i> Home</a></li>
                                <li><a href="/admin/users">Users</a></li>
                                <li class="active">Blocked</li>
                            </ul>
    
                            <ul class="breadcrumb-elements">
                                
                            </ul>
                        </div>
                    </div>

                    <div class="content">
                        <div class="panel panel-flat">

                            <table class="table datatable-basic table-bordered" id="myTable">
                                <thead>
                                    <tr>
                                        <th class="b">S.No.</th>
                                        <th class="b">Profile Pic</th>
                                        <th class="b">User Name</th>
                                        <th class="b">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%
                                        for (var i in response) { %>
                                            <tr>
                                                <td><%= parseInt(i)+1 %></td>
                                                <td><img src="<%= response[i].to.profilePic == '' ? '/white_user.jpg' : '/images/users/'+response[i].to.profilePic %>" width="80" height="80" class="img-circle"></td>
                                                <td><%= response[i].to.firstName %> <%= response[i].to.lastName %></td>
                                                <td class="text-center">
                                                    <ul class="icons-list">
                                                        <li class="dropdown">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                                <i class="icon-menu9"></i>
                                                            </a>
                        
                                                            <ul class="dropdown-menu dropdown-menu-right">
                                                                <!-- <li>
                                                                    <a href="/admin/edit_user/<%=response[i].id%>"><i class="fas fa-edit"></i>Edit</a>
                                                                </li> -->
                                                                <li>
                                                                    <a href="/admin/b_view_user/<%=response[i].id%>/<%= userData.id %>"><i class="fas fa-eye"></i>View</a>
                                                                </li>
                                                                <li>
                                                                    <a class="delete" table="block_list" rel="<%= response[i].id %>" username="<%= userData.firstName.toUpperCase(); %> <%= userData.lastName.toUpperCase(); %>"><i class="fas fa-trash-alt" \></i>Delete</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr> <%
                                        }
                                    %>
                                </tbody>
                            </table>
                        </div>

                        <% include ../admin_footer.ejs %>

                    </div>
                    
                </div>
            </div>
        </div>

        <style>
            .badge{
                padding: 2px 8px 2px 8px;
                font-size: 14px;
            }
            .label {
                font-size: 12px;
            }
            img{
                object-fit: cover;
            }
        </style>

    </body>

</html>