<!DOCTYPE html>
<html lang="en">

    <% include ../admin_header.ejs %>

    <body>

        <% include ../admin_navbar.ejs %>

        <div class="page-container">
            <div class="page-content">
    
                <% include ../sidebar.ejs %>
    
                <div class="content-wrapper">
                    <div class="page-header page-header-default">
                        <div class="page-header-content">
                            <div class="page-title">
                                <h4> <span class="text-semibold"></span>User Details</h4>
                            </div>
    
                            <div class="heading-elements">
                                <div class="heading-btn-group">
                                    
                                </div>
                            </div>
                        </div>
    
                        <div class="breadcrumb-line">
                            <ul class="breadcrumb">
                                <li><a href="/admin/dashboard"><i class="icon-home2 position-left"></i> Home</a></li>
                                <li class="active">Users</li>
                                <li class="active">View</li>
                            </ul>
    
                            <ul class="breadcrumb-elements">
                                
                            </ul>
                        </div>
                    </div>
                    
                    <div class="content">
                        <div class="panel panel-flat">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="b">Image</td>
                                            <td><img src="<%= user.image == '' || user.image == null || user.image == '/images/users/' ? '/white_user.jpg' : user.image%>" width="100" height="100" class="img-circle"></td>
                                        </tr>
                                        <tr>
                                            <td class="b">Name</td>
                                            <td><%= user.name %></span></td>
                                        </tr>
                                        <tr>
                                            <td class="b">Email</td>
                                            <td><%= user.email %></span></td>
                                        </tr>
                                        <tr>
                                            <td class="b">Address</td>
                                            <td><%= user.address %></span></td>
                                        </tr>
                                         
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <h3 style="margin-left: 500px;">Plans buy by the User</h3>
                        <div class="panel panel-flat">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Plan Type</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(total_subs > 0 ){%>
                                        <% for( var i = 0; i < subs.length; i++ ){%>
                                            <tr>
                                                <td> <%= i+1%></td>
                                                <td><%= subs[i].start_date%></td>
                                                <td><%= subs[i].end_date%></td>
                                                <td>
                                                    <%if(subs[i].plan_id == 1 ){%>
                                                        Free    
                                                    <%} else if(subs[i].plan_id == 2 ) {%>
                                                        Silver
                                                        <%} else if(subs[i].plan_id == 3 ){%>
                                                            Premium    
                                                        <%}%>
                                                </td>
                                                <td>
                                                    <% 
                                                        if(subs[i].status == 1) { %>
                                                            <a class="label label-success">Active</a> 
                                        
                                                        <%} else { %>
                                                            <a class="label label-danger">Expired</a> <%
                                                        }
                                                    %>
                                                </td>
                                            </tr>
                                        <%}} else {%>
                                            <tr>
                                                <td>No Plan buy the user.</td>
                                            </tr>
                                            <%}%>  
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <% include ../admin_footer.ejs %>

                    </div>
                    
                </div>
            </div>
        </div>

    </body>

</html>