<!DOCTYPE html>
<html lang="en">

<% include ../admin_header.ejs %>

<body>

  <% include ../admin_navbar.ejs %>

  <div class="page-container">
    <div class="page-content">

      <% include ../sidebar.ejs %>

      <div class="content-wrapper">
        <div class="page-header page-header-default">
          <div class="page-header-content">
            <div class="page-title">
                <a href="/admin/add_singlephotos?id=<%=photoPageId%>" style="float:right;" class="btn btn-primary">
                  <b>+</b> Add new Photos</a>
              <a href="/admin/edit_magazine?id=<%=magazineId%>"><i class="fas fa-arrow-left"></i></a>
              <h4> <span class="text-semibold"></span> Photos Detail</h4>
            </div>

            <div class="heading-elements">
              <div class="heading-btn-group">

              </div>
            </div>
          </div>

          <div class="breadcrumb-line">
            <ul class="breadcrumb">
              <li><a href="/admin/dashboard"><i class="icon-home2 position-left"></i> Home</a></li>
              <li class="active">Photos Management</li>
              <li class="active">View Photos</li>
            </ul>

            <ul class="breadcrumb-elements">

            </ul>
          </div>
        </div>

        <div class="content frm">
          <div class="panel panel-flat">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                    <%for(var i in response){%>
                  <tr>
                    <!-- <td class="b">Image</td> -->
                    
                    <!-- <a href="/edit_page_photosadmin?id=<%=response[i].id%>"><img src="<%= response[i].image == '' || response[i].image == null || response[i].image == '/images/users/' ? '/white_user.jpg' : response[i].image%>" width="100" height="100" class="img-circle"> <span class="glyphicon glyphicon-pencil"></span> </a>  -->
                    <img src="<%= response[i].image == '' || response[i].image == null || response[i].image == '/images/users/' ? '/white_user.jpg' : response[i].image%>"  width="100" height="100" class="img-square"> <span class="glyphicon glyphicon-remove delete" table="photoPageImages" rel="<%=response[i].id%>" style="color:red;"></span> 
                 
                  </tr>
                  <%}%>
                </tbody>
              </table>
            </div>
          </div>
          
                        <% include ../admin_footer.ejs %>

            </div>

          </div>
        </div>
      </div>

</body>

</html>